<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>idleGrids</key>
	<array>
		<string>xxxxxxxxx,xxxxxxxxx,xxxxxxxxx,xxxxxxxxx</string>
		<string>xxxxxxxxx,xxxxxxxxx,xxxxxxxxx,xxxxxxxxx</string>
	</array>
	<key>questionGrids</key>
	<array>
		<dict>
			<key>grid</key>
			<string>   EBAP  ,   OCED  ,   TNEW  ,   SLNL  </string>
			<key>target</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>grid</key>
			<string>DAKS CORB,OTTREGYOA,NFATTERAT,TEOT CNTH</string>
			<key>target</key>
			<integer>20</integer>
		</dict>
	</array>
</dict>
</plist>
