html {
    -ms-content-zooming: none;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
}

body {
    /*background-image: url("images/bg2.jpg");
    background-color: #002b0d;*/
    height: 100vh;
    background: radial-gradient(ellipse at bottom, #2c2765 10%, #090a0f 100%);
    overflow: hidden;
    color: white;
}

.view {
    /* Centre everthing */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;

    /* Set size to fill the viewport */
    height: 80%;
    width: 80%;

    display: none;

    /* Prevent the user from selecting the text in the middle of the buzzer */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/*-------------------------------------------------------------------------------------------*/
/* Styles for the main buzzer */

.buttonOn {
    background:radial-gradient(ellipse at bottom, #44d7a7 15%, #3caf2a 100%);
    background-color:#44c767;
    border:2px solid #18ab29;

    -moz-box-shadow: 0px 0px 24px 3px #41822f;
    -webkit-box-shadow: 0px 0px 24px 3px #41822f;
    box-shadow: 0px 0px 24px 3px #222222;

    transition: transform 0.05s ease-in-out;
}

.buttonOn:active {
    background:linear-gradient(to bottom, #e4985d 5%, #eb675e 100%);
    border:2px solid #74480d;
    background-color:#e4685d;
    transform: translate(-50%, -49%);
}

.buttonOff {
    background:linear-gradient(to bottom, #f7f7f7 5%, #bab1ba 100%);
    background-color:#f7f7f7;
    border:2px solid #bab1ba;
}

.theButton {
    -moz-border-radius:13px;
    -webkit-border-radius:13px;
    border-radius:13px;

    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:67px;
    text-decoration:none;
    text-shadow:3px 3px 2px #101010;
}

/*-------------------------------------------------------------------------------------------*/
/* Styles for Higher and Lower / True and False */

.higherLowerButton {
    -moz-border-radius:13px;
    -webkit-border-radius:13px;
    border-radius:13px;

    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:67px;
    text-decoration:none;
    text-shadow:0px 1px 4px #2f6627;

    width: 50%;
    height: 100%;
    margin: 2%;
}

.higherLowerButton span {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.higherLowerSelected {
    background:linear-gradient(to bottom, pink 5%, hotpink 100%);
    background-color:hotpink;
}

.higherLowerButton#lower.buttonOn:active {
    transform: translate(0%, 1%) !important;
}

.higherLowerButton#higher.buttonOn:active {
    transform: translate(0%, 1%) !important;
}

/*-------------------------------------------------------------------------------------------*/
/* Styles for the team selection dialog */

.teamgrid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'header header header header header';
    grid-gap: 0px;

    border-radius: 5px;
    background-color: #002233;
    padding: 20px;
}

.teamButton {
    background-color:#4488ff;
    border:2px solid #4488ff;
    background:linear-gradient(to bottom, #99c7ff 5%, #4488ff 100%);
    border-radius:4px;
    margin: 10px;
    min-width: 50px;

    font-weight: bolder;
    height: 50px;
    font-family:Arial;
    font-size:35px;
    text-decoration:none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.teamButton:active {
    background:linear-gradient(to bottom, #e4685d 5%, #eb675e 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#eb675e',GradientType=0);
    background-color:#e4685d;
}

.viewTitle {
    grid-area: header;
    color: white;
    font-weight: bolder;
    font-family: Arial;
    font-size:30px;
    display: block;
    text-shadow:0px 0px 10px black;
    text-align: center;
    padding: 10px
}

.error {
    color: red;
}

/*-------------------------------------------------------------------------------------------*/
/* Styles for text input */

.smallButtonOn {
    background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    background-color:#44c767;
    border:2px solid #18ab29;
    -moz-box-shadow: 0px 0px 24px 3px #41822f;
    -webkit-box-shadow: 0px 0px 24px 3px #41822f;
    box-shadow: 0px 0px 24px 3px #41822f;
}

.smallButtonOn:active {
    background:linear-gradient(to bottom, #e4685d 5%, #eb675e 100%);
    background-color:#e4685d;
}

.smallButton {
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;

    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:34px;
    text-decoration:none;
    text-shadow:0px 1px 4px #2f6627;
    margin-top: 10px;
    text-align: center;
}

#textenterbutton {
    font-size: 330%;
}

@keyframes textboxpulse {
    0%  {background-color:white;}
    25%  {background-color:#99dd44;}
    100% {background-color:white;}
}

#textbox {
    font-size: 50px;
    border-radius:6px;
    animation-duration: 0.4s;
}

#text {
    align-items: start;
}

/*-------------------------------------------------------------------------------------------*/
/* Styles for geography round */

.imageDisabled {
    filter: blur(5px) grayscale(100%);
    transition: 0.8s;
}
#geoimg {
    height:100%;
    width:100%;
    background-size: 100% 100%;
}

#geomark {
  background-image: url(images/cross.png);
  background-repeat: no-repeat;
  background-size: 50px 50px;
  font-size: 50px;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

/*-------------------------------------------------------------------------------------------*/
/* Styles for falling snow */

.snowflake {
  position: absolute;
  width: 10px;
  height: 10px;
  background: linear-gradient(white, white);
  /* Workaround for Chromium's selective color inversion */
  border-radius: 50%;
  filter: drop-shadow(0 0 10px white);
}
