html {
    -ms-content-zooming: none;
    overflow: hidden;
}

body {
    background-image: url("images/bg2.jpg");
    background-color: #cccccc;
    overflow: hidden;
}


.buttonOn {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
    background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
    background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
    background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
    background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
    background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
    background-color:#44c767;
    border:2px solid #18ab29;

    -moz-box-shadow: 0px 0px 24px 3px #41822f;
    -webkit-box-shadow: 0px 0px 24px 3px #41822f;
    box-shadow: 0px 0px 24px 3px #41822f;
}


.buttonOn:active {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #eb675e));
    background:-moz-linear-gradient(top, #e4685d 5%, #eb675e 100%);
    background:-webkit-linear-gradient(top, #e4685d 5%, #eb675e 100%);
    background:-o-linear-gradient(top, #e4685d 5%, #eb675e 100%);
    background:-ms-linear-gradient(top, #e4685d 5%, #eb675e 100%);
    background:linear-gradient(to bottom, #e4685d 5%, #eb675e 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#eb675e',GradientType=0);
    background-color:#e4685d;
    transform: translate(-50%, -49%);
}

.buttonOff {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f7f7f7), color-stop(1, #bab1ba));
    background:-moz-linear-gradient(top, #f7f7f7 5%, #bab1ba 100%);
    background:-webkit-linear-gradient(top, #f7f7f7 5%, #bab1ba 100%);
    background:-o-linear-gradient(top, #f7f7f7 5%, #bab1ba 100%);
    background:-ms-linear-gradient(top, #f7f7f7 5%, #bab1ba 100%);
    background:linear-gradient(to bottom, #f7f7f7 5%, #bab1ba 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#bab1ba',GradientType=0);
    background-color:#f7f7f7;
    border:2px solid #bab1ba;
}

.view {
    /* Centre everthing */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;

    /* Set size to fill the viewport */
    height:80%;
    width:80%;

    display: none;

    /* Prevent the user from selecting the text in the middle of the buzzer */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.theButton {
    -moz-border-radius:13px;
    -webkit-border-radius:13px;
    border-radius:13px;

    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:67px;
    text-decoration:none;
    text-shadow:0px 1px 4px #2f6627;
}




.higherLowerButton {
    -moz-border-radius:13px;
    -webkit-border-radius:13px;
    border-radius:13px;

    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:67px;
    text-decoration:none;
    text-shadow:0px 1px 4px #2f6627;

    width: 50%;
    height: 100%;
    margin: 2%;
}

.higherLowerButton span {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.higherLowerButton#lower.buttonOn:active {
    transform: translate(0%, 1%) !important;
}

.higherLowerButton#higher.buttonOn:active {
    transform: translate(0%, -1%) !important;
}

.teamgrid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'header header header header header';
    grid-gap: 0px;

    border-radius: 5px;
    background-color: #002233;
    padding: 20px;
}

/*'main main main main main'*/

.teamButton {
    background-color:#4488ff;
    border:2px solid #4488ff;
    background:linear-gradient(to bottom, #99c7ff 5%, #4488ff 100%);
    border-radius:4px;
    margin: 10px;
    min-width: 50px;

    font-weight: bolder;
    height: 50px;
    font-family:Arial;
    font-size:35px;
    text-decoration:none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.teamButton:active {
    background:linear-gradient(to bottom, #e4685d 5%, #eb675e 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#eb675e',GradientType=0);
    background-color:#e4685d;
}

.viewTitle {
    grid-area: header;
    color: white;
    font-weight: bolder;
    font-family: Arial;
    font-size:30px;
    display: block;
    text-shadow:0px 0px 10px black;
    text-align: center;
    padding: 10px
}

.smallButtonOn {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
    background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
    background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
    background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
    background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
    background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
    background-color:#44c767;
    border:2px solid #18ab29;
    -moz-box-shadow: 0px 0px 24px 3px #41822f;
    -webkit-box-shadow: 0px 0px 24px 3px #41822f;
    box-shadow: 0px 0px 24px 3px #41822f;
}


.smallButtonOn:active {
    background:linear-gradient(to bottom, #e4685d 5%, #eb675e 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#eb675e',GradientType=0);
    background-color:#e4685d;
}

.smallButton {
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;

    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:34px;
    text-decoration:none;
    text-shadow:0px 1px 4px #2f6627; 
    margin-top: 10px;
    text-align: center;
}


.imageDisabled {
    filter: blur(5px) grayscale(100%);
    transition: 0.8s;
}

#geoimg {
    height:100%;
    width:100%;
}


#geomark {
  background-image: url(images/cross.png);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  font-size: 50px;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}


#textenterbutton {
    font-size: 330%;
}


@keyframes textboxpulse {
    0%  {background-color:white;}
    25%  {background-color:#99dd44;}
    100% {background-color:white;}
}

#textbox {
    font-size: 50px;
    border-radius:6px;
    animation-duration: 0.4s;
}
